html, body {
	margin: 0;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
    padding-top:10px;
    height:100%;  
    background-color: #646060;  
}
a {
	color: #2582A4;
}
.infoMsg 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
}



.emphasizedMsg
{
	font-weight: bold;
	/* color: 	#151B54; */
	color: #2582A4;
}

.demoSiteMsg
{
	font-weight: bold;
	color: #FFFF47;
	

	 
}

h1,h2,h3,h4,h5,h6 {
	color: #2582A4;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 35px;
	vertical-align: middle;	
}

.pageSubTitles
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: middle;	
	color: #2582A4;
	font-weight: bold;
}
p,ol,ul {
	
	text-align: justify;
}

strong {
	font-weight: bold;
	color: #808080;
}

.box {
	padding-bottom: 0;
	background: url(../images/img07.gif) repeat-x left bottom;
}

.bottom {
	display: block;
	padding-bottom: 10px;
	background: url(../images/img08.gif) no-repeat left bottom;
}

.image {
	float: left;
	padding: 0;
}

.indent {
}

/* Header */
#header {
	width: 928px;
	height: 37px;
	background: #7D053F;
	/* background: #BECF74 url(../images/img01.gif) repeat-x; */
	border-bottom: 3px solid #FFFFFF;
}

/* Menu */
#menu {
	float: left;
	width: 928px;
	height: 37px;
	padding: 0 0 0 10px;
	list-style: none;
	
	background: url(../images/img02.gif) no-repeat; 
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 27px;
	padding: 10px 15px 0px 15px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background: #A4B74C url(../images/img04.gif) repeat-x;
}

/* Search */
#search {
	float: right;
	height: 28px;
	padding: 9px 25px 0 0;
	background: url(../images/img03.gif) no-repeat right top;
}

#search fieldset {
	display: inline;
	padding: 0;
	border: none;
}

#login fieldset {
	border: none;
	color: #FFFFFF;
}

#loginSubmit {
	height: 21px;
	background: #BECF74;
	border: none;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#input1 {
	width: 164px;
	padding: 2px 5px;
	background: #FFFFFF;
	border: none;
}

#input2 {
	height: 20px;
	background: #87C4DB;
	border: none;
	text-transform: lowercase;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

#colOne {
	float: right;
	width: 250px;
	background: url(../images/img05.gif) repeat-x;
}

/*#signUpTable {
	padding: 0 20px;
	float: center;
	width: 80%;
	background: url(../images/img09.gif) repeat-y;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2582A4;
	white-space: nowrap;
}*/

#signUpTable {	
	float: center;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}


#signUpTable tr{	
	min-height: 30px;
	vertical-align: center;
}

#colOne h3 {
	padding: 0 20px;
}

#colOne ul {
	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
}

#colOne li {
	padding: 5px 0;
	border-top: 1px solid #EFEFEF;
}

#colOne li.first {
	border: none;
}

#colTwo {
	float: right;
	width: 605px;
	padding: 30px 40px 0 30px;
	background: url(../images/img09.gif) repeat-x;
}

#colTwo h2 {
	font-size: 26px;
}

#colTwo h3 {
	font-size: 18px;
}

#colTwo h4 {
	font-size: 11px;
	font-weight: normal;
}

#colTwo .box {
	padding: 0 30px 0 20px;
}

#colTwo .bottom {
	padding: 0 0 20px 20px;
}

/* Logo */
#logo {
	height: 150px;
	background: url(../images/img06.gif) no-repeat;
}

#logo2 {
	height: 150px;
	background: url(../images/img16.GIF) no-repeat;
	border: 0px;
}

#logo h1,#logo h2,#logo a {
	padding: 0;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	color: #FFFFFF;
}

#logo h1 {
	padding-top: 25px;
	font-size: 34px;
}

#logo h2 {
	font-size: 12px;
}

#logoutLink
{
	float: right;
	
}
.logoutDiv
{
	width:928px; 
	background: url(../images/img01.gif) repeat-x;
	height: 16px;	
}

.logoutLinkClass
{
	color: #2582A4;
}

#banner {
	clear: both;
	width: 928px;
	height: 148px;	
	/* background: url(../images/heniomap_banner.jpg) no-repeat top left #0EA5FE; */
}

/* Footer */
.footer {
	position: relative;
	bottom:0;
	width: 928px;	
	padding-top: 40px;
	background: url(../images/img11.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	height:20px;
	align:center;
	clear:both;
	margin:0;
}

.footer p {	
	text-align: center;
}

.disabledDeleteButton {
	border: 0px;
	height: 21px;
	color: white;
	background: transparent url('../images/disabledDelete.png') no-repeat;
	width: 20px;	
	vertical-align: middle;
	align:center;
	
}

.DeleteButton {
	border: 0px;
	height: 21px;
	color: white;
	background: transparent url('../images/delete.png') no-repeat;
	width: 20px;	
	vertical-align: middle;
	align:center;
	
}

.smallBlueButton {
	border: 0px;
	width: 43px;
	height: 21px;
	color: white;
	background: transparent url('../images/registerButtonSmall.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
}

.BlueButton {
	border: 0px;
	width: 67px;
	height: 21px;
	color: white;
	background: transparent url('../images/registerButton.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
}

.BlueButton100 {
	border: 0px;
	width: 100px;
	height: 21px;
	color: white;
	background: transparent url('../images/registerButtonLong.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
}

.BlueButtonExLong {
	border: 0px;
	width: 129px;
	height: 21px;
	color: white;
	background: transparent url('../images/registerButtonExLong.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
}

.backButton
{
	border: 0px;
	width: 67px;
	height: 22px;
	color: #2582b4;
	background: transparent url('../images/backButton.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
}

.nextButton
{
	border: 0px;
	width: 67px;
	height: 22px;
	color: #2582b4;
	background: transparent url('../images/nextButton.gif') no-repeat;
	text-align: center;
	vertical-align: middle;
}

.buttonSpan
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	/* background-color: 	#b9c9fe;  */
 	background-color: 		#667C26;
	color: white; 
	font-weight: bold;
	white-space: nowrap;
}	
	
#myColTwo {
	float: left;
	width: 605px;
	padding: 30px 40px 0 30px;
	background: url(../images/img09.gif) repeat-x;
}
	
	
/* Logo */
.myLogo {
	height: 200px;
	background: url(../images/img06.gif) no-repeat;
}

.myLogo2 {
	height: 200px;
	background: url(../images/img16.GIF) no-repeat;
	border: 0px;
}

/* Content */
#content {
	width: 928px;
}

#progressBar {
	
}
#contentDiv {
	min-height: 500px;
	height: auto !important; 
	height: 100%;
	width: 927px;
	border: solid 1px #a5bedf;	
	border-top-color:white; /* SK: to avoid the blue line which appears after quick search box added to menu.jsp */
	background: #ffffff;
	padding-bottom:20px;	
	display:inline-block;	
	overflow: visible;
}

.dataDiv
{
	/* float:left; */ 
	padding-left: 10px; 
	padding-right: 10px;
}


.TextColorRed
{
 color: Red;
}

.inputTextBoxFont
{ 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color:black;
}

.errorMessage 
{
	list-style:inside;
	color: red;
	width: 80%;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	/* white-space: nowrap; */ /* please allow white-space wrap otherwise for long messages the text flow outside of the div */
	text-align: center;
	vertical-align: bottom;
}

.errorMsg
{
	color: red;
}
.actionError
{ 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color:red;
}

.actionMessage
{ 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: green; 
   font-weight: bold;
   text-align: center;
}

.unsavedMessage
{ 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color:red;
}


a.buttonLink
{
	/* text-decoration: none;
	color: #0000A0; */
	text-decoration: none;
	color: black;
}

a.buttonLink:hover 
{
	/* text-decoration: underline;
	color: #0000FF; */
	
	text-decoration: under underline; 
	color: white;
}

a.accessLink
{
	/* text-decoration: underline;
	color: #0000A0; */
	text-decoration: underline;
	color: black;
}

a.accessLink:hover 
{
	/* text-decoration: none;
	color: #0000FF; */
	
	text-decoration: none; 
	color: white;
}

a.accessLinkVisited
{
	/* text-decoration: underline;
	color:#FF0000; */
	
	text-decoration: underline;
	color: red;
}

a.accessLinkVisited:hover 
{
	/* text-decoration: none;
	color:	#7D0541; */
	
	text-decoration: none;
	color: white;
}

/* ------------------------------------------------------------------------  TASKS page related CSS  */


.dataTable, .dataTableWithRowClick {
	border: solid 1px #996600;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	border-collapse:collapse;
}

.dataTable tr th, .dataTableWithRowClick tr th { /* background: #e8edff; */
	background: #ccaa33;
	vertical-align: bottom;
	padding-bottom: 8px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 8px;
	color: #FFFFFF;
	border: solid 1px #996600;
}

.dataTable tbody tr td, .dataTableWithRowClick tbody tr td {	
	border: solid 1px #996600;
	border-collapse:collapse;
	padding-bottom: 8px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 8px;
	word-wrap: break-word;
}

.dataTable tr.dataTableOddRow, .dataTableWithRowClick tr.dataTableOddRow { /* background: #e8edff; */
	background: #FFFFFF;
}

.dataTable tr.dataTableEvenRow, .dataTableWithRowClick tr.dataTableEvenRow  {
	background: #e7e7e7;
	/* 	background: #D4FEE7; */
	/* background: #F5F5F5 ;  */
}

.dataTable tr.highlightRow, .dataTable td.highlightCell
{
 	background: #fdf5ce;
 	/* color: #c77405; */ 
 	
	/* background: #F5F5F5 ;  */
}

.dataTable tr.boldTopBorder td
{
	border-top-width: 2px !important; 
}

.dataTable a, .dataTable a:hover, .dataTableWithRowClick a, .dataTableWithRowClick a:hover {
	color: blue;
}

.classForlink
{	  
	color: #3366cc;
    text-decoration: underline;  
    cursor: hand; 
    cursor: pointer;
}

.inputLabel 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	white-space: nowrap;
	font-weight: bold;
	color: #2582A4;
}

.inputValue 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.inputTable td.inputLabel
{
	text-align: right;
}

.inputTable td.inputValue
{
	
}

.dynamicTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
	border: solid 1px #829dcb;
	border-collapse:collapse;
}
.dynamicTable tr td
{
	border: solid 1px #829dcb;
	border-collapse:collapse;
	
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	word-wrap: break-word;
}

/* --------------------------------------------  */
.attributeHeader
{
	/* background: #eff2ff; */
	/* background: #A4B84F; */
	 background: #9BB143;
	
	vertical-align: bottom;
	word-wrap: break-word;
	max-width: 200px;
}

.alternativeHeader
{
	padding-right:7px;
	
	/* background:   #e8edff; */
	background: #A4B84F; 
}

/* --------------------------------------------------   generateContourMap.jsp related CSS  */

#problemDescription
{
	width: 350px;
		
}

/* --------------------------------------------------   createNewAttribute.jsp related CSS */

.textAreaClass
{
	width:200px;
	height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.expand
{
	background: transparent url(../images/expand.jpg) no-repeat;
	height:14px;
	width:14px;
}

.collapse
{
	background: transparent url(../images/collapse.jpg) no-repeat;
	height:14px;
	width:14px;
}

.tooltip
{
	background: url(../images/tooltip.png) no-repeat;
	width:15px;
	height:15px;	
	vertical-align:middle;
	display:inline-block;
}


.AddRowsButton
{
	border: 0px;
	height: 21px;
	color: white;
	/* LS: I269 - Disabled add for release Apr 2012 */
	background: transparent url('../images/disabledAdd.png') no-repeat;
	width: 20px;	
	vertical-align: middle;
	align:center;
}


.currStateTxtBox
{
	width: 25px;	
}

.expectedStateTxtBox
{
	width: 25px;
	
}

.currCellClass
{
	white-space: nowrap;	
	border-right: none !important
}

.tblHeaderNoWrap
{
	white-space: nowrap;	
}


.expCellClass
{
	white-space: nowrap;
	border-left: none !important;	
}

#ol{background-image: url(../images/overlay.png);}

#msgLabel
{
	color: green;
}

#checkBoxListDiv
{
	width:200px;
	height:100px;	
	border-width: 1px;
	border:solid;
	border-color: #E0E0E0;
	overflow:auto;
	
}
.fixedHeightDiv 
{
	width: 290px;
	padding-top: 3px;
	
	min-height: 20px;
	max-height: 45px; 
	overflow: auto;
	border: solid 1px #abadb3;	
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
}

.fixedWidthDiv 
{	
	width:920px;
	overflow: auto;
}

.searchPgTitles 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;	
	/*font-weight: bold;*/
	color: #2582A4;
}

.searchIconBtn
{ 
	width: 22px;
	height:21px;
}

.SrchDeleteButton {
	border: 0px;
	height: 21px;
	/*color: white;*/
	background: url('../images/delete.png') no-repeat;
	width: 20px;	
	vertical-align: middle;
	align:center;
}

.SrchCloneButton {
	border: 0px;
	height: 21px;
	/* background: url('../images/clone.png') no-repeat; */
	width: 20px;	
	vertical-align: middle;
	align:center;
}

.srchDispTable {
	border: solid 1px #996600;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	border-collapse:collapse;
}

.srchDispTable tr th  { /* background: #e8edff; */
	background: #ccaa33;
	vertical-align: bottom;
	padding-bottom: 8px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 8px;
	color: #FFFFFF;
	border: solid 1px #996600;
}

.srchDispTable tbody tr td {	
	border: solid 1px #996600;
	border-collapse:collapse;
	padding-bottom: 8px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 8px;
	word-wrap: break-word;
}

.srchDispTable tr.odd  { /* background: #e8edff; */
	background: #FFFFFF;
}

.srchDispTable tr.even {
	background: #e7e7e7;
	/* 	background: #D4FEE7; */
	/* background: #F5F5F5 ;  */
}

.srchDispTable thead tr th.sortable { /* background: #e8edff; */
	background: #ccaa33;
	vertical-align: bottom;
	padding-bottom: 8px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 8px;
	color: #FFFFFF;
	border: solid 1px #996600;
}


.srchDispTable thead tr th.sortable a { 
	color: #FFFFFF;
}


.srchDispTable thead th.sorted a,th.sortable a {
	background-position: 80%;
	background-repeat:no-repeat;
	display:inline-block;
	/*background-origin:content-box;*/
	width: 150px;
}

.srchDispTable thead th.sortable a {
	/*background-image: url(../images/arrow_off.png) ;*/
	
}

.srchDispTable thead th.order1 a {
	/*background-image: url(../images/arrow_up.png);*/
	background-image: url(../images/sort_up.png);
}

.srchDispTable thead th.order2 a {
	/*background-image: url(../images/arrow_down.png);*/
	background-image: url(../images/sort_down.png);
}

.SrchCritRemButton {
	border: 0px;
	height: 12px;
	background: url('../images/removeCriteria.png') no-repeat;
	width: 12px;	
	vertical-align: middle;
	align:center;
}

.srchBackToResultsLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#selCriteria { 
width:175px; 
} 
#selCriteria option { 
width:175px; 
} 


.reqInfoLoadingPanel
{
	position:absolute;
	visibility:hidden; 
	display:block; 
	color:#2582A4; 
	height:62px;  
	width: 62px;
	text-align:center;
	border: 1px;
	border-color:#2582A4;
	/*background-color: #2582A4;*/
	z-index: 100;  
	vertical-align: middle;
	
}

.sliderDiv
{
	width:300px;
}

.sliderDiv table
{
	background: #eeeeee; 
	border: solid 3px #cccccc;
	width:100%;
}
.sliderDiv table>tr:FIRST-CHILD /*first row*/
{
	padding:2px 2px;
}
.sliderDiv table td /*all cells*/
{
	border:0;
}

.sliderTitle
{
	padding:4px 2px;
	white-space: nowrap;
	text-align: right;
}

.sliderBar
{
	padding-left:5px;
	text-align: left;
}
.sliderBar>div { margin:8 4 8 4; }

.sliderValue
{
	text-align: left;
}
.sliderValue label 
{ 
	color:#6284bc; 
	font-weight:bold;
}

.sliderDivClose
{
	height:10px;  
	width: 10px;
	float:right!important;
	background: url('../images/icon_close.gif') no-repeat;
	
}

.sliderDivClose:hover
{
	cursor: hand; 
    cursor: pointer;
}

.divWithBorder
{
	border: solid 1px #996600;
}

.refreshImg
{
	height:20px;  
	width: 20px;
	background: url('../images/refresh.png') no-repeat;
	border:none;
}

.refreshImg:hover
{
	cursor: hand; 
    cursor: pointer;
}

/* Progress Bar */ 

.task-progress {
  	 border: 0px !important;
  	 margin: 0px !important;
}
.task-progress td{
	border: 0px solid !important;
	border-collapse:collapse;
	padding: 0px !important;
	padding-left: 1px !important;
	width: 93px !important;
	height: 15px !important;
    text-align: center;
    font-size: 0.88em;
    white-space: nowrap;
    
}
.task-progress td.complete{
	color: white;
	background:  url('../images/task-step-complete-s.png')  no-repeat;
}
.task-progress td.incomplete{
	color: black;
	background:  url('../images/task-step-incomplete-s.png')  no-repeat;
}

.progressStep {
	text-align: center;
    font-size: 1em;
    white-space: nowrap;
	 border: 0px solid !important; 
	/* border-collapse:collapse !important; */
	padding: 1px !important;
}
.progressStep td{
	/* width: 150px !important; */
	height: 15px !important;
	border: 1px solid #996600 !important;
	padding-left: 3px;
	padding-right: 3px; 
	padding-top: 0px;
	padding-bottom: 0px;
}
.progressStep td a, .progressStep td div {
	display: inline-block; height:100%; width:100%;
	text-decoration: none;
	padding-top: 2px !important;
}
.progressStep td.incomplete, .progressStep td.incomplete a{
	color: black !important;
	background:  #dbdbdb;
	/* background:  url('../images/progressBar/psIncomplete.png')  no-repeat; */
}
.progressStep td a:HOVER {text-decoration: underline;}
	
.progressStep td.completed, .progressStep td.completed a{
	color: black !important;
	background:  #e5d499;
	/* background:  url('../images/progressBar/psCompleted.png')  no-repeat; */
}

.progressStep td.current, .progressStep td.current a{
	color: white !important;
	background:  #ccaa33;
	/* background:  url('../images/progressBar/psCurrent.png')  no-repeat; */
}

.navigate-left, .navigate-right, .navigate-end, .navigate-beginning{
	display: inline-block; 
	width: 16px; 
	height: 16px;
}
.navigate-left { background: url('../images/navigate_left.png'); }
.navigate-right { background: url('../images/navigate_right.png'); }
.navigate-beginning { background: url('../images/navigate_beginning.png'); }
.navigate-end { background: url('../images/navigate_end.png'); }

.paging-banner-items-found {
	float: left;
	padding: 6px 2px 1px 1px;
}

.paging-banner {
	 //background-color: silver;
}

.smallText
{
	padding: 10 0 0 0;
	font-size: 10px;
	color: #646060;
}

.addNewItem
{	
	color: #2582A4;		
	height: 21px;
	background: transparent url('../images/Add.png') no-repeat;	
	vertical-align: middle;
	padding-left: 20px;	
	text-decoration: underline;
}

  /* LEGEND */
#legendDiv {
	position:absolute;
	display:inline-block;
	max-width: 30%;
	max-height: 60%;
	overflow: hidden;
	z-index:4;
	cursor:move;
	background-color: white;
}
#legendTable {
	font-size:0.9em !important;
}
#legendTable th {
	padding: 2px !important; 
}
.enumLegendEntry
{
	font-size:0.9em !important;
	width: 100%;
}
.colorLegendArrow
{
	width: 100%;
	background-image: url('../images/arrowRight.png');
	display: block;  
	background-repeat: no-repeat;
	text-align: center;
	background-position:center;
}
.colorLegendText
{
	
}